<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JTChat 2</title>
  <!-- <link rel="stylesheet" href="css/semantic.css"> -->
</head>
<body>
  <div id="app"></div>
<!-- test zone-->
<!-- <h1 class="ui header">JTChat2 Configuration</h1>
<div class="ui blue secondary pointing menu">
  <a class="item">
    Site
  </a>
  <a class="item active">
    User
  </a>
  <a class="item">
    Theme
  </a>
  <a class="item">
    Profile
  </a>
</div> -->
  <script src="/bundle/config.bundle.js"></script>
  <% if(env !== "production"){ %>
    <script src="/reload/reload.js"></script>
  <% } %>
  <!-- <script src="js/jquery.js"></script> -->
  <!-- <script src="js/semantic.js"></script> -->
</body>

  <!-- <script src="js/babel-core_browser.js"></script> -->
  <!-- <script src="js/react-with-addons.js"></script> -->
  <!-- <script src="js/react-dom.js"></script> -->
  <!-- <script src="index.jsx" type="text/babel"></script> -->
</html>
