<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../_resources/css/font-awesome.min.css" >
  <link rel="stylesheet" href="../_resources/css/bootstrap.min.css" >
  <link rel="stylesheet" href="../_resources/css/bootstrap-theme.min.css" >
  <link rel="stylesheet" href="index.css" >
  <meta charset="UTF-8">
  <title>JTChat2 Test template</title>
</head>
<body>

  <form>
    <div id="chat" class="form-group">
      <div class="chat-msg-outer">
        <div class="chat-msg">

        </div>
      </div>
      <textarea id="" class="chat-input form-control" name="" cols="30" rows="2"></textarea>
      <button type="button" class="chat-submit btn btn-primary">Chat</button>
    </div>
  </form>

  <script src="../_resources/js/underscore-min.js"></script>
  <script src="../_resources/js/jquery-2.1.4.min.js"></script>
  <script src="../_resources/js/bootstrap.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
